.container {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 20px;
    padding-top: 20px;
}

.colorBlock{
    min-width: 100px;
    min-height: 100px;
    width: 25%;
    height: 25%;
    padding: 3%;
}