@import "./css/typography.css";
// SCSS

@import "./variables";
:root {
  font-family: $primaryFont;
  a:visited {
    color: $primaryFontColor; /* Visited link    */
  }
}

@import "normalize";

// @import "small";
// @media only screen and (min-width: 768px) {
//   @import "medium";
// }
// @media only screen and (min-width: 1024px) {
//   @import "large";
// }

li {
  list-style: none;
}
