@import "../../styles/variables";
.container {
  width: 100%;
  position: relative;
  color: rgba($primaryFontColor, 1);
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  grid-template:
    "left-img content right-img" 1fr /
    auto 1fr auto;
  overflow: hidden;
  margin-top: 2vh;
}

.top-seperator {
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
}

.left-image {
  grid-area: left-img;
}
.right-image {
  grid-area: right-img;
}
.left-image,
.right-image {
  display: none;
  img {
    max-height: 70vh;
    width: 100%;
    height: auto;
  }
}
.section-content {
  grid-area: content;
  width: 100%;
  padding: 8% 4%;
}
.text-stroke {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}
.heading {
  text-transform: uppercase;
  font-family: $primaryFont;
  font-size: 1.1rem;
  font-weight: 700;
  h1 {
    margin-top: 0;
  }
}

.heading-spacer {
  display: none;
}

.content {
  line-height: 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: justify;
  font-family: $secondaryFont;
}

.bg-image {
  background-color: black;
}

.bg-image::before,
.bg-image::after {
  opacity: 0.5 !important;
}

@media only screen and (min-width: 768px) {
  .section-content {
    padding: 4vh 8vmin;
  }
  .left-image {
    left: 0;
  }
  .right-image {
    right: 0;
  }
  .left-image,
  .right-image {
    display: block;
    min-width: 20vw;
    max-width: 100%;
    max-height: 100%;
  }
  .image-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
