@import "../../styles/variables";
.headerBar {
  display: grid;
  grid-template:
    "burger logo socials" 1fr /
    10% 1fr 10%;
  background-color: rgba($primaryColor, 1);
  text-transform: uppercase;
  color: rgba($primaryFontColor, 1);
  min-height: 4rem;
  max-height: 6rem;
  width: 100%;
}

.logo {
  grid-area: logo;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  img {
    min-width: 100px;
  }
}

@media only screen and (min-width: 860px) {
  .headerBar {
    grid-template:
      "logo nav socials" 1fr /
      1fr 2fr auto;
  }

  .logo {
    justify-content: left;
  }

  .navBar {
    grid-area: nav;
  }
}
