@import "../../styles/variables";
.header-bar {
  display: grid;
  grid-template:
    "burger logo socials" 1fr /
    10% 1fr 10%;
  background-color: rgba($primaryColor, 1);
  text-transform: uppercase;
  color: white;
  min-height: 4rem;
  max-height: 6rem;
  width: 100%;
}

.logo {
  grid-area: logo;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  img {
    min-width: 100px;
  }
}

.social-links-group {
  grid-area: socials;
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.social-link {
  margin: 0 1vw;
  width: 3%;
  padding: 2px;
  min-width: 25px;
  svg {
    fill: rgba($primaryFontColor, 1);
  }
  svg:hover {
    fill: rgba($secondaryColor, 1);
  }
}

@media only screen and (min-width: 860px) {
  .header-bar {
    grid-template:
      "logo nav socials" 1fr /
      1fr 2fr auto;
  }

  .logo {
    justify-content: center;
  }

  .nav-bar {
    grid-area: nav;
  }
  .social-links-group {
    display: flex;
    padding-right: 10px;
  }
}
