@import "../../styles/variables";
.button {
  background: rgba($primaryFontColor, 0) !important;
  color: rgba($primaryFontColor, 1) !important;
  border-radius: 10px !important;
  border: 1px rgba($primaryFontColor, 0.5) solid !important;
}
.button:hover {
  background: rgba($secondaryColor, 1) !important;
}

.decline-button:hover {
  background: rgb(200, 50, 50) !important;
}

.container {
  background-color: rgba($primaryColor, 1) !important;
}

.content {
}

.policy-link {
  margin: 0 1vw;
}
.policy-link:hover {
  color: rgba($secondaryColor, 1);
}
